@import '../../../../styles/index';

.goods-carousels {
  @include wh(100%, 70vh);
  position: relative;

  .swiper{
    @include wh(100%, 100%);
  }

  .discount{
    position: absolute;
    top: 2%;
    left: 5%;
    border: 2rpx solid $uni_red;
    @include fc(30rpx, $uni_red);
    font-weight: bold;
    padding: 2rpx 4rpx;
  }

  .heart{
    position: absolute;
    top: -8%;
    right: 5%;
  }

  .indicator{
    position: absolute;
    bottom: 1%;
    left: 5%;
  }

  .btn{
    position: absolute;
    bottom: 1%;
    right: 5%;
  }
}