@import '../../../../styles/mixin';

.goods-carousels {
  @include wh(100%, 70vh);
  position: relative;

  .swiper{
    @include wh(100%, 100%);
  }

  .discount{
    position: absolute;
    top: 2%;
    left: 5%;
    border: 2rpx solid #B20F25;
    @include fc(26rpx, #B20F25);
    font-weight: bold;
  }

  .heart{
    position: absolute;
    top: 2%;
    right: 5%;
  }

  .indicator{
    position: absolute;
    bottom: 1%;
    left: 5%;
  }

  .btn{
    position: absolute;
    bottom: 1%;
    right: 5%;
  }
}