@import "../../styles/index";

.goods_card{
  @include wh(100vw, 320rpx);
  border-bottom: 2rpx solid $uni_grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(216, 219, 225, .3);

  .bgColor{
    background: #1e2603;
  }
  .button{
    position: relative;
    @include wh(15vw, 100%);
    .click{
      @include mid();
    }
  }

  .goods{
    @include wh(100vw, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .custom_img{
      margin: 0 10rpx;
      border: 2rpx solid black;
    }
    .goods_detail{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: left;

      .title{
        @include fc(34rpx, $uni_black);
        word-break:break-all;
        @include textMulOmit();
      }

      .custom_params{
        max-width: 400rpx;
        height: 60rpx;
        overflow: hidden;
        white-space: nowrap;
      }

      .discount_price{
        color: $uni_red;
      }
      .old_price{
        position: relative;
        right: -30rpx;
        color: $uni_grey;
        text-decoration: line-through;
      }
    }
  }
}

.delete{
  display: inline-block;
  @include wh(16vw, 320rpx);
  color: #fff;
  line-height: 320rpx;
  text-align: center;
  background-color: $uni_red;
}
.collect{
  @extend .delete;
  background-color: $uni_blue;
}
