@import "../../styles/mixin";

.goods{
  height: 50vh;
  padding: 70rpx 20rpx;

  .scroll_view{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rpx;
    .goods_item{
      @include wh(45vw, 100%);
      flex-shrink: 0;
      @include fc(28rpx, #555);
      .item_name{
        @include testMulOmit();
        margin-bottom: 15rpx;
      }
      .discount_price{
        color: #B20F25;
      }
      .origin_price{
        position: relative;
        right: -30rpx;
        color: #B8B8B8;
        text-decoration: line-through;
      }
    }
  }
}