@import "../../styles/index";

.goods{
  padding: 20rpx 20rpx 60rpx;

  .scroll_view{
    height: 600rpx;
    display: flex;
    justify-content: space-between;

    .goods_item{
      @include wh(45vw, 600rpx);
      flex-shrink: 0;
      @include fc(28rpx, $uni_black);
      margin-right: 10rpx;
      .item_name{
        @include textMulOmit();
        margin-bottom: 15rpx;
      }
      .discount_price{
        color: $uni_red;
      }
      .origin_price{
        position: relative;
        right: -30rpx;
        color: $uni_grey;
        text-decoration: line-through;
      }
    }
  }
}