@import "../../styles/index";

.goods{
  height: 50vh;
  padding: 70rpx 20rpx;

  .scroll_view{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rpx;
    .goods_item{
      @include wh(45vw, 100%);
      flex-shrink: 0;
      @include fc(28rpx, $uni_black);
      .item_name{
        @include testMulOmit();
        margin-bottom: 15rpx;
      }
      .discount_price{
        color: $uni_red;
      }
      .origin_price{
        position: relative;
        right: -30rpx;
        color: $uni_grey;
        text-decoration: line-through;
      }
    }
  }
}