@import "../../styles/index";

.bag_container{
  padding-bottom: 150rpx;

  .custom_title{
    @include fc(28rpx, $uni_black);
  }

  .custom_cell{
    padding: 10rpx 32rpx 0;
  }
  .custom_totalPrice{
    padding: 40rpx 32rpx;
  }

  .custom_price{
    color: #333;
  }
  .custom_priceHide{
    display: none;
  }
  .custom_button{
    padding: 0;
    border-radius: 0;
    background-color: #333;
    border: none;
  }
  .custom_delete{
    width: 200rpx;
    height: 80rpx;
    position: relative;
    left: 65%;
  }

  .like{
    @include fc(36rpx, $uni_black);
    .title{
      padding: 40rpx 32rpx 0;
    }
  }
}