@import "../../styles/index";

.mall_container{
  height: 100vh;
  overflow: hidden;

  .custom_navbar{
    border: none;
    @include fc(34rpx, $uni_grey);
  }

  .custom_select{
    font-size: 32rpx;
  }

  .goods_list{
    width: 100vw;

    .tag{
      display: inline-block;
      margin: 15rpx 0 0 15rpx;
    }
  }

  .loading{
    @include xMid();
  }
}