@import "../../../../styles/index";

.category_container{
  display: flex;
  justify-content: space-between;
  text-align: center;

  .main{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    .item{
      flex-basis: 28%;
      padding: 15rpx;
    }

  }
}