@import "../../styles/index";

.profile_container{

  .navbar{
    @include fc(60rpx, #fff);
    font-weight: bold;
  }

  .user_info{
    @include wh(100vw, 45vh);
    position: relative;
    background: linear-gradient(to top, #114357, #f29492);
      .cell{
        width: 90%;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        text-align: center;
        .name{
          padding: 10rpx 0;
        }
        .point{
          font-size: 28rpx;
        }
    }
  }

  .user_detail{
    @include wh(95vw, 280rpx);
    margin: 80rpx auto 0;
    border-radius: 10rpx;
    background: linear-gradient(to top, #114357, #f29492);
    .title_cell{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      padding: 20rpx;
      .title{
        font-size: 46rpx;
        font-weight: bold;
      }
      .value{
        font-size: 28rpx;
      }
    }
  }
  .message{
    @include fc(28rpx, $uni_grey);
    padding: 40rpx 20rpx;
  }
  .vip_info{
    height: 320rpx;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .custom_usercode{
      display: block;
      margin: 0 auto;
    }
    .vip_number{
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      @include fc(28rpx, $uni_black);
    }
  }


  .shelf{
    padding: 40rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom_cell{
    padding: 40rpx 30rpx;
  }
}