@import '../../styles/mixin.scss';

.home_container{
  width: 100vw;

  .title{
    @include fc(60rpx, #333);
    font-weight: bold;
    padding: 20rpx 40rpx;
  }

  .loading{
    @include xMid();
  }

}