@import "../../../../styles/index";

.goods_stock{
  margin-bottom: 40rpx;

  .item_color{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20rpx;
  }
  .btn{
    margin: 10rpx 10rpx 10rpx 0;
  }
  .item_size{
    @extend .item_color;
  }

  .size_table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20rpx 10rpx;
    .item{
      flex-basis: 145rpx;
      flex-shrink: 0;
    }
  }
}
